html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    position: fixed;
}

header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-right: 5%;
}

.HeaderMini1 a {
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1.5 px;
    font-size: 200%;
    color: white;
    padding-left: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.HeaderMini2 nav a {
    margin: 0 20px;
    text-decoration: none;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    cursor: pointer;
}

button {
    font-size: 1rem;
    font-weight: 600;
    background-color: white;
    padding: 6px 6px;
    border: 2px solid white;
    border-radius: 9px;
    color: cornflowerblue;
    cursor: pointer;
    transition: 0.8s;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

button:hover {
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}

@media (max-width: 800px) {
    .HeaderMini2 nav a {
    font-size: 0.8rem;
    margin: 0 6px;
    }
}

@media (max-width: 540px) {
    .HeaderMini2 nav a {
    font-size: 0.6rem;
    margin: 0 5px;
    }
}
@media (max-width: 500px) {
    .HeaderMini1  a {
    font-size: 0rem;
    }
}
@media (max-width: 840px) {
    .HeaderMini1  a {
    font-size: 100%;
    }
}

@media (max-width: 800px) {
    button {
        font-size: 0.8rem;
        padding: 2px 2px;
    }
}
@media (max-width: 400px) {
    button {
        font-size: 0.6rem;
        padding: 2px 2px;
    }
}

.font-weight-medium {
    font-weight: 500;
  }